<div id="<%= dom_id animal %>">
  <div>
    <strong>Name:</strong>
    <%= animal.name %>
  </div>

  <div>
    <strong>Species:</strong>
    <%= animal.species %>
  </div>

  <div>
    <strong>Age:</strong>
    <%= animal.age %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= animal.quantity %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= animal.description %>
  </div>

</div>
